body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    background: linear-gradient(99deg, #50e8f3, #250ea7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: inflate 2s ease-in-out infinite alternate;
    text-align: center;
}

/* Efeito de "inflar" com animação */
@keyframes inflate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}